*{
        padding: 0%;
        margin: 0;
        font-family: sans-serif;
    }
    body{
        background-image: url("https://t4.ftcdn.net/jpg/15/97/21/73/360_F_1597217345_f7jiS65Ak3exhnzFddqIZ4VXDOmK2kIm.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
}
.registration_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.registration_form h1{
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 40px 0;
}
.registration_form p{
    font-size: 20px;
    margin: 15px 0;
}
.registration_form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.registration_form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}
.registration_form button:hover{
    color: blue;
}
